@tailwind base;
@tailwind components;
@tailwind utilities;


html, body{
  @apply antialiased text-slate-950 h-full
}

h1, h2, h3, h4, h5, h6 {
  @apply tracking-[-0.04em] leading-none
}

p {
  @apply font-normal
} 

::selection{
  @apply bg-pale-950 text-pale-50
}

::-webkit-scrollbar-thumb {
  @apply bg-pale-200 transition cursor-grab hover:bg-pale-300
}

::-webkit-scrollbar {
  @apply w-1 md:w-2 md:h-2 
}

::-webkit-scrollbar-track{
  @apply bg-[transparent]
}

.scrollbar-hidden::-webkit-scrollbar {
  display: none; /* Para navegadores baseados em WebKit como Chrome e Safari */
}

.scrollbar-hidden {
  -ms-overflow-style: none;  /* Para Internet Explorer e Edge */
  scrollbar-width: none;  /* Para Firefox */
}